/* .icon-colour {
	color: #700c86 !important;
} */
.social-icons {
	display: inline-block !important;
	padding-right: 15px;
	padding-left: 15px;
}
.home-social-icons {
	position: relative !important;
	display: inline-block !important;
	width: 56px !important;
	height: 56px !important;
	text-align: center !important;
	font-size: 2em !important;
	line-height: 1.5em !important;
	border: 1.7px solid rgba(200, 137, 230, 0.637);
	border-radius: 50% !important;
	transition: all 0.5s ease 0s !important;
}

.home-social-icons:hover {
	transform: scale(1.1);
  }

.circle {
	background: linear-gradient(90deg, rgba(150, 255, 244, 0.813), rgba(0, 71, 252, 0.806));
	border-radius: 50%;
	filter: blur(80px);
	height: 100%;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
  }
  