.social-icons {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.home-social-icons {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  border-radius: 9999px;
  transition: all 0.5s ease 0s;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
}

.home-social-icons:hover {
  transform: scale(1.1);
}

.circle {
  background: linear-gradient(90deg, rgba(150, 255, 244, 0.813), rgba(0, 71, 252, 0.806));
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: blur(80px);
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 9999px;
  z-index: -1;
}
