.social-icons {
  @apply inline-block px-[15px];
}
.home-social-icons {
  @apply relative 
		inline-block 
		w-[56px] 
		h-[56px] 
		text-center 
		text-[2em] 
		leading-[1.5em] 
		rounded-full
		transition-all
		duration-500;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  transition: all 0.5s ease 0s;
}

.home-social-icons:hover {
  @apply scale-110;
}

.circle {
  background: linear-gradient(90deg, rgba(150, 255, 244, 0.813), rgba(0, 71, 252, 0.806));
  @apply w-full 
		h-full 
		opacity-[0.3] 
		blur-[80px] 
		left-0 
		top-0 
		absolute 
		rounded-full 
		z-[-1];
}
