.blockquote-footer::before {
  content: '— ';
}

.tech-icons {
  /* @apply w-1/3 
      md:w-1/4 
      lg:w-1/6
      m-[15px]
      p-[10px]
      opacity-[0.93]
      text-center
      text-[4.5em]
      rounded-[5px]
      table
      overflow-hidden; */
  overflow: hidden;
  outline: 1.7px solid rgba(200, 137, 230, 0.637);
  vertical-align: middle;
  box-shadow: 4px 2px 4px 2px rgba(89, 4, 168, 0.137);
  transition: all 0.4s ease 0s;
}

.tech-icons:hover {
  /* overflow: hidden; */
  /* transform: scale(1.05); */
  /* outline: 2.2px solid rgba(197, 115, 230, 0.883); */
  cursor: default;
}

.custom-marquee {
  overflow: visible !important;
}

.custom-marquee .rfm-marquee {
  overflow: visible !important;
}

.github-calendar svg {
  @apply w-full;
}

.circle {
  background: linear-gradient(90deg, rgba(150, 255, 244, 0.813), rgba(0, 71, 252, 0.806));
  @apply w-full 
		h-full 
		opacity-[0.3] 
		blur-[80px] 
		left-0 
		top-0 
		absolute 
		rounded-full 
		z-[-1];
}

.my-fade {
  pointer-events: none;
  background: linear-gradient(90deg, #120a2a, transparent 20%, transparent 80%, #120a2a);
  position: absolute;
  inset: 0;
  z-index: 3;
}
