.circle {
  background: linear-gradient(90deg, rgba(150, 255, 244, 0.813), rgba(0, 71, 252, 0.806));
  border-radius: 50%;
  filter: blur(80px);
  height: 50%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
