.btn {
  @apply inline-block
        text-white
        bg-[#623686]
        px-[0.75rem]
        py-[0.375rem]
        text-[1rem]
        font-normal
        leading-normal
        text-center
        no-underline
        align-middle
        cursor-pointer
        select-none
        rounded-[0.375rem];

  border: 1px solid #623686;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn:hover {
  @apply text-white bg-[#6d20c5d7] border-[#6d20c5d7];
}

.btn-disabled,
.btn[disabled],
.btn:disabled {
  pointer-events: none;
}

@keyframes button-pop {
  0% {
    transform: scale(0.98);
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
