.project-item {
  @apply w-full md:w-1/2 lg:w-1/2 py-[50px] px-[25px] h-auto text-center;
}

.item-view {
  @apply relative
        flex
        flex-col
        break-words
        h-full 
        opacity-90 
        overflow-hidden
        rounded-[0.375rem]
        shadow-[0_4px_5px_3px_rgba(119,53,136,0.459)];
  background-clip: border-box;
  background-color: transparent;
  transition: all 0.5s ease 0s;
  border: 1px solid rgba(0, 0, 0, 0.175);
  /* box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459); */
}

.item-view:hover {
  @apply overflow-hidden shadow-[0_4px_5px_3px_rgba(119,53,136,0.459)];
  transform: scale(1.02);
}

.item-view img {
  @apply p-[20px] opacity-80 rounded-[10px];
}

.item-body {
  @apply flex-1 p-[1rem] relative pb-12;
}

.item-body .item-title {
  @apply text-2xl text-center mb-6;
}

.item-body .item-desc {
  @apply text-lg mb-6 text-center;
}

.item-body .item-actions {
  @apply absolute left-0 right-0 bottom-4 flex justify-center;
}
