svg {
  display: initial;
}

.navbar {
  box-shadow: none;
  background-color: transparent;
  .navbar__title {
    margin-left: 12px;
    color: var(--ifm-color-primary);
    font-family: var(--ifm-font-family-name);
  }
}

#tsparticles {
  z-index: -1;
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}
